# Scrapers
LOGIN_NETID=
LOGIN_PASSWORD=
LOGIN_ASTRA_USERNAME=
LOGIN_ASTRA_PASSWORD=
#Login to https://east.mymazevo.com/main-home then go to https://east.mymazevo.com/api/tenantsettings/GetApiKey
MAZEVO_API_KEY=
#Academic Calendars
GOOGLE_GENAI_USE_VERTEXAI=
GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=
GEMINI_SERVICE_ACCOUNT=
NEBULA_API_URL=
NEBULA_API_STORAGE_BUCKET=
NEBULA_API_KEY=
NEBULA_API_STORAGE_KEY=
#Budgets
NEBULA_API_BUDGET_STORAGE_BUCKET=

# Uploader
MONGODB_URI=

EMBEDDING_KEY=
